In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
from word2number import w2n

In [2]:
df = pd.read_csv('hiring.csv')
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [3]:
# df = df.test_score(out of 10).fillna(df.test_score(out of 10).median())
#import math
median_score = df.iloc[:,1].mean()
median_score

7.857142857142857

In [4]:
df.iloc[:,1]=df.iloc[:,1].fillna(median_score)
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN               8.000000                           9      50000
1        NaN               8.000000                           6      45000
2       five               6.000000                           7      60000
3        two              10.000000                          10      65000
4      seven               9.000000                           6      70000
5      three               7.000000                          10      62000
6        ten               7.857143                           7      72000
7     eleven               7.000000                           8      80000

In [5]:
temp = df.iloc[:,0].fillna("zero")
changed=[]
for i in temp:
    number = [w2n.word_to_num(i)]
#     print(number)
    changed = changed + number
print(changed)

[0, 0, 5, 2, 7, 3, 10, 11]

In [6]:
df.iloc[:,0]= changed
df

   experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0           0               8.000000                           9      50000
1           0               8.000000                           6      45000
2           5               6.000000                           7      60000
3           2              10.000000                          10      65000
4           7               9.000000                           6      70000
5           3               7.000000                          10      62000
6          10               7.857143                           7      72000
7          11               7.000000                           8      80000

In [7]:
df.columns = ["experience","test_score","interview_score","salary"]
variables =["experience","test_score","interview_score"]
reg = linear_model.LinearRegression()
reg.fit(df[variables],df.salary)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [8]:
reg.predict([[2,9,6]])

array([53290.89255945])

In [9]:
reg.predict([[12,10,10]])

array([92268.07227784])